.d-flex {
  display: flex;
}
.justify-content-center {
  justify-content: center;
}
.justify-content-between {
  justify-content: space-between;
}
.justify-content-end {
  justify-content: flex-end;
}
.align-items-center {
  align-items: center;
}
.align-items-top {
  align-items: flex-start;
}
.flex-column {
  flex-direction: column;
}
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cursor-pointer {
  cursor: pointer;
}

.d-none {
  display: none;
}

.button-as-link {
  border: unset;
  background-color: unset;
  color: inherit;
}

.scrollable-list {
  overflow-y: auto;
  max-height: 100%;
  scrollbar-width: thin;
}

.h-100 {
  height: 100%;
}

.h-100vh {
  height: 100vh;
}

.h-inherit {
  height: inherit;
}

.visibility-hidden {
  visibility: hidden;
}

.w-100 {
  width: 100%;
}

.max-w-100 {
  max-width: 100%;
}

.overflow-hidden {
  overflow: hidden;
}
.overflow-x-hidden {
  overflow-x: hidden;
}
.overflow-x-auto {
  overflow-x: auto;
}
.white-space-nowrap {
  white-space: nowrap;
}

.scrollbar-none {
  scrollbar-width: none;
}

.text-align-center {
  text-align: center;
}

.text-align-right {
  text-align: right;
}

.text-muted {
  color: var(--wa-color-text-quiet);
}

.p-0 {
  padding: 0;
}
.p-1 {
  padding: 0.25rem;
}
.p-2 {
  padding: 0.5rem;
}
.p-3 {
  padding: 1rem;
}
.p-4 {
  padding: 1.5rem;
}
.p-5 {
  padding: 3rem;
}
.ps-0 {
  padding-left: 0;
}
.ps-1 {
  padding-left: 0.25rem;
}
.ps-2 {
  padding-left: 0.5rem;
}
.ps-3 {
  padding-left: 1rem;
}
.ps-4 {
  padding-left: 1.5rem;
}
.ps-5 {
  padding-left: 3rem;
}
.pe-0 {
  padding-right: 0;
}
.pe-1 {
  padding-right: 0.25rem;
}
.pe-2 {
  padding-right: 0.5rem;
}
.pe-3 {
  padding-right: 1rem;
}
.pe-4 {
  padding-right: 1.5rem;
}
.pe-5 {
  padding-right: 3rem;
}
.pt-0 {
  padding-top: 0;
}
.pb-0 {
  padding-bottom: 0;
}
.py-0 {
  padding-top: 0;
  padding-bottom: 0;
}
.py-1 {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
}
.py-2 {
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
}
.py-3 {
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.py-4 {
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}
.py-5 {
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.mt-1 {
  margin-top: 0.25rem;
}
.mt-2 {
  margin-top: 0.5rem;
}
.mt-3 {
  margin-top: 1rem;
}
.mt-4 {
  margin-top: 1.5rem;
}

.mt-5 {
  margin-top: 3rem;
}
.mb-1 {
  margin-bottom: 0.25rem;
}
.mb-2 {
  margin-bottom: 0.5rem;
}
.mb-3 {
  margin-bottom: 1rem;
}
.mb-4 {
  margin-bottom: 1.5rem;
}
.mb-5 {
  margin-bottom: 3rem;
}

.me-2 {
  margin-right: 0.5rem;
}
.me-3 {
  margin-right: 1rem;
}

.m-0 {
  margin: 0;
}
.m-1 {
  margin: 0.25rem;
}
.m-2 {
  margin: 0.5rem;
}
.m-3 {
  margin: 1rem;
}
.m-4 {
  margin: 1.5rem;
}
.m-5 {
  margin: 3rem;
}
.gap-0 {
  gap: 0;
}
.gap-1 {
  gap: 0.25rem;
}
.gap-2 {
  gap: 0.5rem;
}
.gap-3 {
  gap: 1rem;
}
.gap-4 {
  gap: 1.5rem;
}
.gap-5 {
  gap: 3rem;
}

.position-relative {
  position: relative;
}

.position-absolute {
  position: absolute;
}

.end-0 {
  right: 0;
}

.fs-100 {
  font-size: var(--fs-100);
}
.fs-200 {
  font-size: var(--fs-200);
}
.fs-300 {
  font-size: var(--fs-300);
}
.fs-400 {
  font-size: var(--fs-400);
}
.fs-500 {
  font-size: var(--fs-500);
}
.fs-600 {
  font-size: var(--fs-600);
}
.fs-700 {
  font-size: var(--fs-700);
}
.fs-800 {
  font-size: var(--fs-800);
}
.fs-900 {
  font-size: var(--fs-900);
}

.code-keyword {
  background: var(--wa-color-surface-lowered);
  width: fit-content;
  border-radius: 3px;
  padding: 2px 5px;
  font-weight: 600;
}

.scrollable-y {
  overflow-y: auto;
  scrollbar-width: thin;
}

.show-in-200ms {
  animation: showIn 0.3s ease forwards;
  animation-delay: 0.2s;
  opacity: 0;
  visibility: hidden;
}

.show-in-1000ms {
  animation: showIn 0.3s ease forwards;
  animation-delay: 1s;
  opacity: 0;
  visibility: hidden;
}

@keyframes showIn {
  to {
    opacity: 1;
    visibility: visible;
  }
}

.d-table-row {
  display: table-row;
}

.code-key {
  color: var(--wa-color-blue-60);
}
.code-value {
  color: var(--wa-color-purple-50);
}

.error-text-underline {
  text-decoration: underline wavy #f14c4c;
  text-decoration-thickness: 1px;
  text-underline-offset: 2px;
}
