:host {
  all: initial;
  font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !important;
  font-size: 16px !important;
  color: black !important;
  --hotwire-dev-tools-muted-color: rgba(33, 37, 41, 0.749);
}

sup {
  font-size: 0.75em;
  line-height: 0;
}

#hotwire-dev-tools-detail-panel-container {
  position: fixed;
  bottom: 0em;
  right: 0em;
  z-index: 10000000;
  width: clamp(20em, 30em, 100vw);
  background: white;

  & button {
    cursor: pointer;
  }

  .hotwire-dev-tools-detail-panel-header {
    height: 2.5em;
    background: #29292e;
    color: #e7e9f5;
    display: flex;

    & svg {
      height: 50%;
    }

    & path {
      fill: white;
    }
  }

  /* Tabs */
  .hotwire-dev-tools-tablist {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    width: 100%;

    & button {
      background-color: inherit;
      font-size: 1em;
      border: none;
      outline: none;
      width: 100%;
      height: 100%;
      color: #dddddd;
    }
  }

  .hotwire-dev-tools-tablink.active[data-tab-id="hotwire-dev-tools-turbo-frame-tab"],
  .hotwire-dev-tools-tablink.active[data-tab-id="hotwire-dev-tools-turbo-stream-tab"] {
    color: #5cd8e5;
  }

  .hotwire-dev-tools-tablink.active[data-tab-id="hotwire-dev-tools-stimulus-tab"] {
    color: #77e8b9;
  }

  .hotwire-dev-tools-tablink.active[data-tab-id="hotwire-dev-tools-info-tab"] path {
    fill: #ff9b40;
  }

  .hotwire-dev-tools-tablink:has(svg) {
    width: fit-content !important;
    padding-left: 1em;
    padding-right: 1em;
  }

  .hotwire-dev-tools-tab-content {
    display: none;

    &.active {
      display: block;
    }
  }

  .hotwire-dev-tools-collapse-button {
    background: #808080;
    color: white;
    border: none;
    outline: none;
    padding-right: 0.5em;
    padding-left: 0.5em;
  }

  .hotwire-dev-tools-collapse-button:hover {
    color: black;
  }

  & .hotwire-dev-tools-tab-content {
    max-height: 10em;
    overflow-y: auto;
    overscroll-behavior: contain;
  }

  & .hotwire-dev-tools-entry {
    display: flex;
    justify-content: space-between;
    padding: 0.5em;
    cursor: default;
    color: black;
  }

  & .hotwire-dev-tools-entry.hotwire-dev-tools-entry-warning {
    color: #ff0000;
  }

  & .hotwire-dev-tools-entry sup {
    font-weight: 200;
  }

  & .hotwire-dev-tools-entry svg {
    height: 1em;
  }

  & .hotwire-dev-tools-entry.turbo-stream {
    cursor: pointer;
  }

  & .hotwire-dev-tools-entry:hover {
    background: #ccc;
  }

  & .hotwire-dev-tools-entry-details {
    padding: 1em;
    font-family: monospace;
    unicode-bidi: isolate;
    font-size: 0.9em;
    color: var(--hotwire-dev-tools-muted-color);
  }

  & .hotwire-dev-tools-no-entry {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: var(--hotwire-dev-tools-muted-color);
    padding: 1em;
  }

  & .hotwire-dev-tools-entry-time {
    text-align: right;
    color: var(--hotwire-dev-tools-muted-color);
  }

  & .hotwire-dev-tools-entry-content {
    display: flex;
    justify-content: space-between;
  }

  &.collapsed {
    height: 8px;
    transition: height 0.25s ease-out;
  }

  &.collapsed:hover {
    height: 2.5em;
  }
}

.info-tab-content {
  display: flex;
  justify-content: space-between;
  padding: 0.5em;

  .info-tab-content-stimulus,
  .info-tab-content-turbo {
    min-width: 45%;
    display: flex;
    flex-direction: column;
    gap: 0.5em;
  }

  & .info-title {
    font-size: 1.2em;
  }

  & .info-title {
    font-size: 1.1em;
  }

  & .info-tab-content-wrapper {
    justify-content: space-between;
    font-family: monospace;
    unicode-bidi: isolate;
    white-space: nowrap;
    font-size: 0.8em;
    display: flex;
    margin: 0;
  }
}

#hotwire-dev-tools-detail-panel-container:not(.collapsed) {
  button.hotwire-dev-tools-tablink:not(.active):hover {
    color: #777;
  }
}

.hotwire-dev-tools-detail-panel-header,
.hotwire-dev-tools-tablink:first-child {
  border-top-left-radius: 10px;
}

#hotwire-dev-tools-detail-panel-container {
  border-top-left-radius: 15px;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.d-none {
  display: none;
}
