/* General */
:root {
  --primary-color: #007bff;
  --primary-color-hover: #0056b3;
  --secondary-color: #6c757d;
  --light-color: #ebebeb;
  --dark-color: #212529;
  --selected-bg: #e3f2fd;
  --hover-for-select-bg: #f0f8ff;
  --muted-color: rgba(33, 37, 41, 0.749);

  --panel-background-color: #ffffff;
  --navbar-height: 2.75rem;
  --available-content-height: calc(100vh - var(--navbar-height) - 1.5em);
}

body {
  margin: 0;
}

button {
  cursor: pointer;
}

/* Tabs */
.tablist {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  height: var(--navbar-height);

  button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    padding: 14px 16px;
    transition: 0.3s;
    height: 100%;
  }

  button:hover {
    background-color: #ddd;
  }

  button.active {
    background-color: #ccc;
  }
}

.tabcontent {
  display: none;
  padding: 0.5em 1em;
  height: var(--available-content-height);
  margin-top: var(--navbar-height);
  background-color: var(--panel-background-color);

  &.active {
    display: block;
  }
}

#turbo-frame-list .turbo-frame,
#turbo-stream-list .turbo-stream,
#stimulus-list .stimulus {
  padding-top: 1em;
  padding-bottom: 1em;
  border-bottom: 1px solid #ddd;
  cursor: pointer;
}

.splitpanes.default-theme .splitpanes__pane {
  background-color: transparent !important;
}

.splitpanes.default-theme .splitpanes__splitter {
  background-color: #ececec !important;
}

.btn-icon {
  background-color: transparent;
  border: none;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5em;
  height: 100%;
}

.btn-icon svg {
  width: 1rem;
  height: 1rem;
  fill: white;
}

.icon-dark svg,
svg.icon-dark {
  fill: var(--dark-color);
}

.btn-inspect {
  color: var(--primary-color);
}
.btn-inspect:hover {
  color: var(--primary-color-hover);
}

.no-entry-hint {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  color: var(--muted-color);
  padding: 1em;
}

.entry-row {
  border-bottom: 1px solid #ddd;
  user-select: none;
  padding: 0.25rem;

  --indent-size: 1rem;
  padding-left: calc(var(--depth, 0) * var(--indent-size) + 0.5rem);
}
.entry-row:hover {
  background-color: var(--hover-for-select-bg);
}
.entry-row.selected {
  background-color: var(--selected-bg);
  border-left: 3px solid var(--primary-color);
}

.entry-row .btn-hoverable {
  opacity: 0;
  pointer-events: none;
}

.entry-row:hover .btn-hoverable {
  opacity: 1;
  pointer-events: auto;
}

.html-preview {
  display: flex;
  max-width: 100%;
  overflow-y: auto;
  mask-type: alpha;
  -webkit-mask-image: linear-gradient(to right, black 12px, black calc(100% - 25px), transparent calc(100% - 8px), transparent calc(100% - 8px) 100%);
  mask-image: linear-gradient(to right, black 12px, black calc(100% - 25px), transparent calc(100% - 8px), transparent calc(100% - 8px) 100%);
  padding-bottom: 3rem;
  padding-right: 25px;
  margin-bottom: 1em;
  scrollbar-width: none;
}

.pane-section-heading {
  font-weight: bold;
  font-size: 1.2em;
  margin-bottom: 0.5em;
  padding: 0.5em;
  background-color: var(--light-color);
}

.table td {
  border-bottom: 1px solid #ddd;
  table-layout: fixed;
}
.table:focus-visible {
  outline: none;
}
.table.table-sm td {
  padding: 0.5rem;
}

.flow > * + * {
  margin-top: 1em;
}

/* Utilities */
.d-flex {
  display: flex;
}
.justify-content-between {
  justify-content: space-between;
}
.align-items-center {
  align-items: center;
}
.align-items-top {
  align-items: flex-start;
}
.flex-column {
  flex-direction: column;
}

.justify-content-center {
  justify-content: center;
}

.cursor-pointer {
  cursor: pointer;
}

.d-none {
  display: none;
}

.button-as-link {
  border: unset;
  background-color: unset;
  color: inherit;
}

.scrollable-list {
  overflow-y: auto;
  max-height: 100%;
}

.h-100 {
  height: 100%;
}

.h-100vh {
  height: 100vh;
}

.h-inherit {
  height: inherit;
}

.visibility-hidden {
  visibility: hidden;
}

.w-100 {
  width: 100%;
}

.max-w-100 {
  max-width: 100%;
}

.overflow-hidden {
  overflow: hidden;
}

.text-align-right {
  text-align: right;
}

.text-muted {
  color: var(--muted-color);
}

.p-0 {
  padding: 0;
}
.p-1 {
  padding: 0.25rem;
}
.p-2 {
  padding: 0.5rem;
}
.p-3 {
  padding: 1rem;
}
.pe-3 {
  padding-right: 1rem;
}
.pe-4 {
  padding-right: 1.5rem;
}
.pe-5 {
  padding-right: 3rem;
}

.mb-3 {
  margin-bottom: 1rem;
}

.me-2 {
  margin-right: 0.5rem;
}

.gap-0 {
  gap: 0;
}
.gap-1 {
  gap: 0.25rem;
}
.gap-2 {
  gap: 0.5rem;
}
.gap-3 {
  gap: 1rem;
}
.gap-4 {
  gap: 1.5rem;
}
.gap-5 {
  gap: 3rem;
}

.position-relative {
  position: relative;
}

.position-absolute {
  position: absolute;
}

.end-0 {
  right: 0;
}

/* Highlight.js GitHub Theme */
pre code.hljs {
  display: block;
  overflow-x: auto;
  padding: 1em;
}
code.hljs {
  padding: 3px 5px;
} /*!
  Theme: GitHub
  Description: Light theme as seen on github.com
  Author: github.com
  Maintainer: @Hirse
  Updated: 2021-05-15

  Outdated base version: https://github.com/primer/github-syntax-light
  Current colors taken from GitHub's CSS
*/
.hljs {
  color: #24292e;
  background: #fff;
}
.hljs-doctag,
.hljs-keyword,
.hljs-meta .hljs-keyword,
.hljs-template-tag,
.hljs-template-variable,
.hljs-type,
.hljs-variable.language_ {
  color: #d73a49;
}
.hljs-title,
.hljs-title.class_,
.hljs-title.class_.inherited__,
.hljs-title.function_ {
  color: #6f42c1;
}
.hljs-attr,
.hljs-attribute,
.hljs-literal,
.hljs-meta,
.hljs-number,
.hljs-operator,
.hljs-selector-attr,
.hljs-selector-class,
.hljs-selector-id,
.hljs-variable {
  color: #005cc5;
}
.hljs-meta .hljs-string,
.hljs-regexp,
.hljs-string {
  color: #032f62;
}
.hljs-built_in,
.hljs-symbol {
  color: #e36209;
}
.hljs-code,
.hljs-comment,
.hljs-formula {
  color: #6a737d;
}
.hljs-name,
.hljs-quote,
.hljs-selector-pseudo,
.hljs-selector-tag {
  color: #22863a;
}
.hljs-subst {
  color: #24292e;
}
.hljs-section {
  color: #005cc5;
  font-weight: 700;
}
.hljs-bullet {
  color: #735c0f;
}
.hljs-emphasis {
  color: #24292e;
  font-style: italic;
}
.hljs-strong {
  color: #24292e;
  font-weight: 700;
}
.hljs-addition {
  color: #22863a;
  background-color: #f0fff4;
}
.hljs-deletion {
  color: #b31d28;
  background-color: #ffeef0;
}
