body {
  width: 20rem;
  background-color: #eee;
}

p,
label {
  font:
    1rem "Fira Sans",
    sans-serif;
}

input {
  margin: 0.4rem;
}

input[type="text"] {
  width: 100%;
  padding: 7px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}

fieldset {
  margin: 1rem 0;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.title {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 1rem;
}

.highlight-frames-wrapper,
.highlight-controllers-wrapper,
.detail-panel-options-wrapper {
  display: flex;
  flex-direction: column;
  padding: 0.5em;
  margin-left: 2em;
}

.highlight-controllers-wrapper,
.highlight-frames-wrapper {
  gap: 1em;
}

.detail-panel-options-wrapper input[type="checkbox"] {
  margin-left: 0;
  margin-bottom: 0;
}

.highlight-options-wrapper {
  display: flex;
  align-items: center;
  gap: 0.5em;
  justify-content: space-between;
  height: 2em;

  & select {
    height: 2em;
  }
}

/* Custom checkbox toggles */
.toggle {
  cursor: pointer;
  display: inline-block;
}

.toggle-switch {
  display: inline-block;
  background: #ccc;
  border-radius: 16px;
  width: 29px;
  height: 16px;
  position: relative;
  vertical-align: middle;
  transition: background 0.15s;
}
.toggle-switch:before,
.toggle-switch:after {
  content: "";
}
.toggle-switch:before {
  display: block;
  background: linear-gradient(to bottom, #fff 0%, #eee 100%);
  border-radius: 50%;
  width: 12px;
  height: 12px;
  position: absolute;
  top: 2px;
  left: 2px;
  transition: left 0.15s;
}
.toggle-checkbox:checked + .toggle-switch {
  background: #56c080;
}
.toggle-checkbox:checked + .toggle-switch:before {
  left: 15px;
}

.toggle-checkbox {
  position: absolute;
  visibility: hidden;
}

.toggle-label {
  position: relative;
  margin-left: 3px;
  top: 2px;
}

body.no-transitions {
  & .toggle-switch,
  & .toggle-switch:before {
    transition: none;
  }
}

/* Utility classes */
.d-none {
  display: none;
}

.d-flex {
  display: flex;
}

.justify-content-center {
  justify-content: center;
}

.m-0 {
  margin: 0;
}

.ms-0 {
  margin-left: 0;
}
