body {
  width: 20rem;
  background-color: #eee;
}

p,
label {
  font:
    1rem "Fira Sans",
    sans-serif;
}

input {
  margin: 0.4rem;
}

input[type="text"] {
  width: 100%;
  padding: 7px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}

fieldset {
  margin: 1rem 0;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.title {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 1rem;
}

.highlight-frames-wrapper,
.detail-panel-options-wrapper {
  display: flex;
  flex-direction: column;
  padding: 0.5em;
  margin-left: 2em;
}
.highlight-frames-wrapper {
  gap: 1em;
}

.detail-panel-options-wrapper input[type="checkbox"] {
  margin-left: 0;
}

.highlight-options-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 2em;

  & select {
    height: 2em;
  }
}

.d-none {
  display: none;
}

.d-flex {
  display: flex;
}

.justify-content-center {
  justify-content: center;
}

.m-0 {
  margin: 0;
}
