body.watch-turbo-frames {
  & turbo-frame {
    display: block;
    border-radius: 5px;
  }

  & .turbo-frame-info-badge-container {
    position: relative;
  }

  & .turbo-frame-info-badge {
    position: absolute;
    z-index: 1000;
    top: -20px;
    height: 20px;
    color: #fff;
    padding: 0 5px;
    border-radius: 5px;
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;
    white-space: nowrap;
    overflow: hidden;
    width: 18px;
    opacity: 0.1;
    transition: 0.3s;
  }

  & .turbo-frame-info-badge:hover {
    opacity: 1;
    width: fit-content;
  }

  & .turbo-frame-info-badge.frame-with-src {
    background-color: #5cd8e5;
  }
}

#hotwire-dev-tools-turbo-stream-container {
  position: fixed;
  bottom: 0em;
  right: 0em;
  z-index: 1000;
  width: clamp(20rem, 30rem, 100vw);
  background: white;

  & .hotwire-dev-tools-turbo-stream-header {
    height: 2.5rem;
    background: #808080;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
  }

  & .hotwire-dev-tools-turbo-stream-content {
    max-height: 10em;
    overflow-y: auto;
  }

  & .hotwire-dev-tools-turbo-stream-entry {
    display: flex;
    justify-content: space-between;
    padding: 0.5em;
    cursor: pointer;
  }

  & .hotwire-dev-tools-turbo-stream-entry:hover {
    background: #ccc;
  }
}
