#turbo-frame-tab {
  display: flex;
}

.lists {
  width: 80%;
}

#turbo-frame-list .turbo-frame, #turbo-stream-list .turbo-stream {
  padding-top: 1em;
  padding-bottom: 1em;
  border-bottom: 1px solid #ddd;
  cursor: pointer;
}
